*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("../img/bg.png");
    background-size: cover;
    background-attachment: fixed;
}

.navbar-brand {
    font-weight: bolder;
  }

.logo-img{
 
    width: 35px;
    min-height: 35px;
    border-radius: 50%;
    object-fit: cover;
    transition: transform 0.4s;
  
}
.logo-img:hover{
    transform: scale(1.5);
}
.main{
    width: 100%;
    height: auto;
    background-color: rgb(245, 245, 245);
    padding: 50px 0;
    display: grid;
    place-items: center;
    background-color: transparent;
}
.main .heading{
    font-size: 27px;
    font-weight: 500;
    color: rgb(106, 6, 236);
    position: relative;
    margin-bottom: 80px;
}
.heading::after{
    position: absolute;
    content: ' ';
    width: 50%;
    height: 4px;
    left: 50%;
    bottom: -5px;
    background-image: linear-gradient(to right, rgb(106, 6, 236), rgb(220, 0, 240));
    transform: translateX(-50%);
}
.container{
    width: 70%;
    height: auto;
    position: relative;
}
.container::after{
    position: absolute;
    content: ' ';
    width: 2px;
    height: 100%;
    background-image: linear-gradient(to bottom, rgb(106, 6, 236), rgb(220, 0, 240));
}
.container ul{
    list-style: none;
}
.container ul li{
    width: 50%;
    height: auto;
    padding: 15px 20px;
    background-color: #fff;
    box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.384);
    border-radius: 10px;
    margin-bottom: 30px;
}
.container ul li:nth-child(odd){
    float: left;
    clear: right;
    transform: translateX(-30px);
    text-align: right;
}
.container ul li:nth-child(even){
    float: right;
    clear: left;
    transform: translateX(30px);
}
.container ul li:nth-child(4){
    margin-bottom: 0;
}
.container ul li .title{
    font-size: 20px;
    font-weight: 500;
    color: rgb(106, 6, 236);
}
ul li p{
    font-size: 15px;
    color: #444;
    margin: 7px 0;
    line-height: 23px;
}
ul li a{
    font-size: 15px;
    color: rgb(106, 6, 236);
    text-decoration: none;
}

.contato {
    display: grid;
    justify-content: center;
    font-weight: bolder;
}

.contato h2 {
    margin-left: auto;
    margin-right: auto;
    align-items: center;
}

.contato .icons {
    text-align: center;
    text-decoration: none;
    color: whitesmoke;
  }
  
  .contato a {
    color: whitesmoke !important;
    font-size: 4em;
    transition: text-shadow 1s;
  }
  
  .contato a:active,
  .contato a:hover  {
    text-decoration: none;
    text-shadow: 0px 0px 10px rgba(255,255,255,.5);
  }